@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: roboto;
    background: #E5E5E5;
}

nav{
    background-color: black;
    overflow: hidden;
    width: 100%;
    
}

nav .logo{
    float: left;
    display: flex;
    padding: 14px 16px;
}

nav a{
    float: right;
    text-decoration: none;
    display: flex;
    padding: 14px 16px;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-top: 40px;
    
}

#envio-gratis-titulo{
    position: absolute;
    width: 485px;
    height: 28px;
    left: 70px;
    top: 139px;
    z-index: 1;
}

.imagem-pizza{
    display: flex;
    position: absolute;
    width: 50%;
    height: 450px;
    left: 19px;
    top: 135px;
    border-radius: 5px;
    background-image: url(../img/delivery.jpg);
    background-repeat: no-repeat;
   
    
}

.cardapio{
    display: flex;
    position: absolute;
    width: 50%;
    height: 350px;
    left: 490px;
    background-color: white;
    top: 135px;
    border-radius: 5px;
}

.background{
    position: absolute;
    width: 92px;
    height: 129px;
    left: 400px;
    top: 100px;
    background-image: url(../img/PizzaFalling.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}


.items-cardapio{
    display: flex;
    align-items: flex-start;
    height: 50px;
    padding-top: 110px;
    font-size: 16px;
    top: 160px;
    left: 70px;
    position: absolute;
    height: 23px;
    justify-content: center;
    align-items: center;
    font-style: bold;
    padding: 30px;
   
}

#subtitulo{
    position: absolute;
    width: 205px;
    height: 28px;
    padding-bottom: 155px;
    padding-left: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    
color: #222222;
}


#titulo-cardapio {
    
    position: absolute;
    width: 205px;
    height: 28px;
    left: 160px;
    top: 26px; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FC200C; 
}



.rodape-container{
    display: flex;
    background-color: black;
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.menu-rodape {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    color: white;
    padding-left: 20px;
   
    
}

.item-rodape{
    align-items: center;
    list-style: none;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;

}

.logo-inferior{
    display: flex;
    align-self: center;
    justify-content: flex-end;
    padding-right: 42px;
}