body{
    background-color: grey;
}

.quadrado{
    width: 100px;
    height: 200px;
    background-color: khaki;
    border-radius: 10px;
}

@media (min-widht:460px) {
    .quadrado{
        background-color: teal;
    }
}